/gradle
/eclipse
/build
/.settings
/.gradle
/.git

.classpath
.project
.gitattributes
README.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
CREDITS-fml.txt
gradlew.bat
gradlew
forge-1.7.2-10.12.2.1121-changelog.txt
CREDITS-fml.txt
build.gradle
/bin/
